# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/